<div class="homePage">
  <div class="noticia">
    <div class="header">
      <p>27 <span>Abril</span></p>
      <p>2021</p>
    </div>
    <div class="texto">
      <div class="numeracao">
        <p>01</p>
      </div>
      <p class="textoNoticia">
        Maicon vai passar por cirurgia e não joga mais pelo Grêmio em 2021
      </p>
      <button class="btnHomePage">Mais Sobre</button>
    </div>
  </div>

  <div class="menuLateral">
    <div class="logo">
      <div class="logoHomePage"></div>
      <p>Grêmio Esportivo Fictício</p>
    </div>
    <div class="navBarHomePage">
      <ul>
        <li><a href="#">Notícias</a></li>
        <li><a href="#">Sobre o clube</a></li>
        <li><a href="#">Novidades</a></li>
        <li><a href="#">Contato</a></li>
        <li><a href="#">Grêmiomania</a></li>
      </ul>
    </div>
    <div class="acesso">
      <p [routerLink]="['socio-torcedor']">Acesse o sócio torcedor</p>
    </div>
  </div>
</div>
